html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Helvetica;
    margin: 0;
}

#map-container {
    background-color: gray;
    width: 100%;
    height: 100%;
}

#sidebar-container {
    position: absolute;
    top: 30px;
    left: 50px;
    z-index: 1;
    background-color: rgb(211, 211, 211);
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}


#title {
    font-size: 32px;
    font-weight: bold;
}


#note {

    font-size: 12px;
    color: #333;
    font-style: italic;
    padding-top: 2px;
}

/* name of the park */
#park-info {
    margin-top: 15px;
    font-size: 14px;
    color: #333;
    font-style: italic;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

/* type of park */
#park-info h3 {
    margin: 0;
    font-size: 16px;
}


#contributing-factor-container {
    position: absolute;
    top: 300px;
    left: 50px; 
    background-color: rgb(211, 211, 211);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 14px;
    max-width: 300px;
    width: 100%;
    transition: transform 0.3s ease-in-out;



}



#filter-container #back-button {
    background-color: #ddd;
    margin-top: 10px;
}

#filter-container #back-button:hover {
    background-color: #ccc;
}

.button-13 {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember", sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 100px;
  }
  
  .button-13:hover {
    background-color: #f7fafa;
  }
  
  .button-13:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
  }